.container {
  width: 300px;
  margin: 0 auto;
  border: 1px solid orange;
  padding: 10px;
}
.divHead{
    /* background-color: aquamarine; */
    text-align: center;
}
.btnContainer{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
 
}