/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}
.container {
  width: 80vw;
  padding: 2rem 1rem;
  margin: 0 auto;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
:root {
  --primary-color: #ffffff;
  --background-color: #f4f7ff;
}

/* header-container start here */
.header-container nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1rem;
  height: 100px;
}

/* nav-left */
.nav-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-logo {
  width: 51px;
  height: 51px;
}
/* nav-band */
.nav-band {
  font-family: "Poppins";
  font-style: normal;
  font-size: 35.6698px;
  line-height: 54px;
  letter-spacing: 0.03em;
  color: #24383d;
}
.nav-band span {
  font-weight: bolder;
  color: #011318;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.all-task {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 50px;
  background-color: #f4f7ff;
  padding: 0.5rem 1rem;
}
.nav-right #counter {
  font-size: 1.5rem;
}
/* header container end here */

/* main container start here */
.main-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

/* section start here */
section {
  width: 80%;
  background-color: var(--primary-color);
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
}
.section-header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.section-header-left,
.section-header-right,
.section-header-middle {
  background-color: var(--background-color);
  width: 25%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 16px;
}
.checkBox-div,
.calender-div {
  background-color: var(--primary-color);
  padding: 0.67rem;
  border-radius: 50%;
}
.section-checkBox,
.calender {
  width: 28px;
  height: 28px;
}
.task-counter,
.date {
  font-size: 1.75rem;
  font-weight: bolder;
}
.date {
  font-size: 1.2rem;
}
.task-counter-title,
.day {
  color: #000000;
  opacity: 0.7;
  letter-spacing: 0.03em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.section-header-middle {
  background: linear-gradient(to right, #3d57fd, #92a0f9);
  width: 50%;
}
.section-header-middle img {
  width: 50px;
}
.discover {
  color: var(--primary-color);
  letter-spacing: 0.12em;
  font-size: 20px;
}
/* card design start here */
.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 16px;
  min-height: 230px;
  padding: 1rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.task-des-box {
  height: 46px;
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--primary-color);
}
.company-name,
.task-des {
  color: #00303c;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1em;
  padding: 0.5rem;
}
.company-name {
  display: inline-block;
  width: fit-content;
  border-radius: 16px;
  background-color: var(--primary-color);
}
.task-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #00303c;
}
.task-des-box {
  display: block;
  width: auto;
  letter-spacing: 0.04em;
}
.task-footer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.deadline {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #00303c;
  opacity: 0.7;
}
.deadline-date {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
/* section end here */

/* aside section start here */
aside {
  width: 20%;
  background-color: var(--primary-color);
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.activity-section,
.activity-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.activity-log {
  flex-direction: row;
  align-items: center;
}
.activity-log img {
  width: 1.2rem;
}
.activity-log p {
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}
.btn {
  background: #3752fd;
  border-radius: 8px;
  padding: 10px 20px;
  color: var(--primary-color);
  border: none;
  letter-spacing: 0.03em;
}
.btn:hover {
  background: #0424f1;
}
.history-list {
  list-style: none;
}
.history-list li {
  background-color: var(--background-color);
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 16px;
  color: #000000;
  opacity: 0.7;
  letter-spacing: 0.03em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* aside section end here */
/* main container end here */
